@page "/documents"

<section class="Documents PageView">
    <h1 class="MainContent__title">Documentos</h1>
    <div class="Documents">
        <section class="DocumentsList">
            <h2 class="DocumentsList__title">Tableros</h2>
            <div class="DocumentsContain">
                <Document />
                <Document />
                <Document />
                <Document />
                <Document />
            </div>
        </section>

        <section class="DocumentsList">
            <h2 class="DocumentsList__title">Frente Revisión de PRS</h2>
            <div class="DocumentsContain">
                <Document />
                <Document />
            </div>
        </section>

        <section class="DocumentsList">
            <h2 class="DocumentsList__title">Frente Hammurabi</h2>
            <div class="DocumentsContain">
                <Document />
            </div>
        </section>

        <section class="DocumentsList">
            <h2 class="DocumentsList__title">Frente Gestion de Mallas</h2>
            <div class="DocumentsContain"></div>
        </section>

        <section class="DocumentsList">
            <h2 class="DocumentsList__title">Frente Apagado Deuda Técnica</h2>
            <div class="DocumentsContain"></div>
        </section>
    </div>
</section>

@code {

}
