@page "/graphics"

<section class="Graphics PageView">
    <h1 class="MainContent__title">Gráficos</h1>
    <section class="GraphicsCards">
        <Card />
        <Card />
    </section>
</section>

@code {

}
