@page "/home"

<section class="Home PageView">
    <h1 class="Home__title">Welcome</h1>
    <section class="HomeCardFunctions">
        <CardFunction titleCard="Repositorios" />
        <CardFunction titleCard="Gráficos" />
        <CardFunction titleCard="Proyectos" />
        <CardFunction titleCard="Validar Ingestas" />
    </section>
</section>

@code {

}
