@page "/"

<div class="HomePage">
    <div class="HomePageContent">
        <div class="HomePageContent__flag">
            <img src="../assets/flagCountry.svg" alt="Perú" />
        </div>
        <h1 class="HomePageContent__title">
            BBVA <br />
            <span class="HomePageContent__titleSecundary">
                PLANNING & DEVELOPMENT
            </span>
        </h1>
        <a class="HomePageContent__btn" href="/home">
        Ingresar
        </a>
    </div>
    <div class="HomePageImage">
        <img src="../assets/imageHome.svg" alt="ImageHome" width="100%" />
    </div>
</div>

@code {

}
