@page "/projects2"

<div class="Projects PageView">
    <h1 class="Projects__title">Proyectos</h1>
    <section class="Table StateTable">
        <div class="TableOptions">
        </div>
        <div class="TableDataWrap">
            <TableData />
        </div>
    </section>
</div>

@code {

}
