<section class="Card">
    <div class="CardHeader">
        <h2 class="CardHeader__title"></h2>
    </div>
    <div class="CardImage">
        <img class="CardImage__img"
             src=""
             width=65
             alt="Graphic" />
    </div>
    <div class="CardFooter">
        <a class="CardFooter__btn btnSuccess" href="">
        Ver Gráfico
        </a>
    </div>
</section>

@code {

}
