<div class="Document">
    <div class="DocumentHeader">
        <h2 class="DocumentHeader__title">{title}</h2>
    </div>
    <div class="DocumentBody">
        <img src="" />
    </div>
    <div class="DocumentFooter">
        <a class="DocumentFooter__btn"
           href=""
        </a>
    </div>
</div>

@code {

}
