<div class="VerifiedIngestaInputs__colOne">
    <InputFile />
    <InputFile />
    <InputFile />
    <InputFile />
    <InputFile />
</div>
<div class="VerifiedIngestaInputs__colTwo">
    <InputFile />
    <InputFile />
    <InputFile />
    <InputFile />
    <InputFile />
</div>

@code {

}
