<div class="MenuNav">
    <nav class="MenuNavList">
        <h2 class="MenuNavList__title">Reportes</h2>
        <ul>
            <li class="MenuNavList__item">
                <a class="MenuNavList__link" href="/projects">
                    <i class="fa fa-archive MenuNavList__link__icon"></i>
                    Proyectos
                </a>
            </li>

            <li class="MenuNavList__item">
                <a class="MenuNavList__link" href="/fetchdata">
                    <i class="fa fa-code-branch MenuNavList__link__icon"></i>
                    Repositorios
                </a>
            </li>

            <li class="MenuNavList__item">
                <a class="MenuNavList__link dropdown" href="/graphics">
                    <i class="fa fa-chart-line MenuNavList__link__icon"></i>
                    Gráficos
                </a>
            </li>

            <li class="MenuNavList__item">
                <a class="MenuNavList__link" href="/bui">
                    <i class="fa fa-clipboard-list MenuNavList__link__icon"></i>
                    BUI
                </a>
            </li>
        </ul>
    </nav>

    <nav class="MenuNavList">
        <h3 class="MenuNavList__title">Extras</h3>

        <ul>
            <li class="MenuNavList__item">
                <a class="MenuNavList__link" href="/documents">
                    <i class="fa fa-file MenuNavList__link__icon"></i>
                    Documentos
                </a>
            </li>

            <li class="MenuNavList__item">
                <a class="MenuNavList__link" href="/ingestas">
                    <i class="fa fa-bullhorn MenuNavList__link__icon"></i>
                    Validar ingestas
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {

}
