<div class="MenuUser">
    <img class="MenuUser__photo" src="https://image.freepik.com/vector-gratis/avatar-cara-monstruo-dibujos-animados-monstruo-halloween_6996-1164.jpg" />
    <h4 class="MenuUser__name">Luis Ramirez</h4>
    <button class="MenuUserButtonLogin" onClick="handleAuthClick">
        Conectarse
    </button>
    <button class="MenuUserButtonLogin" onClick="handleSignoutClick">
        Cerrar sesión
    </button>
</div>

@code {

}
