<div class="searchIngesta">
    <input class="searchIngesta__input"
           type="text"
           onChange=""
    />
    <button class="searchIngesta__btn" onClick="redirectPage">
        Buscar Tabla
    </button>
</div>

@code {

}
