<div class="SearchForm">
    <label class="SearchForm__txt">title</label>
    <div class="SearchFormInput" ref={inputRefGlobal}>
        <i class="SearchFormInput__icon fa fa-search"></i>
        <input class="SearchFormInput__input"
               type="text"
               defaultValue="valueQuery"
               maxLength="20"
               name="searchTable"
               onChange="handleValueSearch" />
    </div>
</div>

@code {

}
