<div class="UploadFile">
    <label class="UploadFile__btn" htmlFor={labelName}>
        Seleccionar Archivo
    </label>
    <input type="file"
           accept={typeFile}
           onChange={onUploadFile}
           id={inputName}
           style="display: none"
    <ToolTip />
</div>

@code {

}
